<div class="container d">

  <div class="titre">
  <h1>Stupid coaching</h1>
  </div>
<!-- <p>Find me in app/views/pages/ask.html.erb</p> -->
  <div class="ask-your-coach">
    <p>Ask your coach:</p>
  </div>
  <div class="user-input">
    <form action="answer">
      <input type="text" name="request">
      <input type="submit" value="Ask!">
    </form>
  </div>
</div>
